body {
  margin: auto;
  color: #fffafa;
}
#weather-app {
  margin: 100px auto;
  max-width: 800px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(251, 222, 238) 15.6%,
    rgb(206, 201, 226) 80.3%
  );
  padding: 20px;
  border-radius: 10px;
}
h1 {
  color: #2f3641;
  font-family: aboreto;
  font-size: 700;
}
.details {
  color: #2f36419b;
  font-size: 12px;
}

#temperature {
  font-size: 50px;
  font-family: aboreto;
  font-size: 700;
}
.unit {
  position: relative;
  bottom: 20px;
  font-size: 20px;
}

#theme-button {
  display: block;
  margin: 10px auto;
}
.dark {
  background: rgb(12, 11, 20);
}
.dark #weather-app {
  background: radial-gradient(
    circle at -4% -12.9%,
    rgb(74, 98, 110) 0.3%,
    rgb(30, 33, 48) 90.2%
  );
}
.dark h1 {
  color: rgb(201, 205, 218);
}
.dark #temperature {
  color: rgb(201, 205, 218);
}
.dark ul {
  color: rgb(201, 205, 218);
}
.dark .unit {
  color: rgb(201, 205, 218);
}
footer {
  text-align: center;
  position: relative;
  bottom: 80px;
}
.dark footer {
  color: rgb(201, 205, 218);
}
